h1 {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-align: center;
}

h2 {
    color: aliceblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color:#000;
    color:#fff;
    padding: 1rem;
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;

}

ol {
    display:list-item;
}

.searchbar {
    margin: 10px;
}

#submit-btn {
    height: 50px;
    width: 120px;
    background-color: rgb(151, 129, 4);
    margin-left: 750px;
}

